extends layout
include _posts

block content

  unless notFound
    h1.title #{user.name}'s Profile
    if profile.picture
      img(src=profile.picture, alt="Profile Picture")
    p Name: #{user.name}
    p Status: #{profile.status || "not set" }
    .section.posts
      for post in profile.posts
        +post(post)
      else
        p No posts to display. :(

    section.section
    h2.subtitle New Post
    form(action="/posts/new", method="POST")
      input(type="hidden", name="profileId" value=profile._id)
      .field
        .control
          textarea.textarea#post(name="post", rows="2")
      .field.is-grouped
        .control
          button.button.is-link(type="submit") Submit
        .control
          button.button.is-light(type="reset") Reset

  else
    h1 Profile not found. :(
